body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

.article {
    margin-bottom: 20px;
}

img {
    display: block;
    margin-top: 10px;
}